body {
  min-width: 16rem;
  min-height: 38rem;
  height: auto;
  background-color: lightblue;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #555;
}

label {
  margin: 5px 0;
  font-size: 1.2rem;
}

.toggle-switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin-bottom: 15px;
}

.toggle-switch input {
  display: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.switch-slider {
  background-color: #4caf50;
}

input:checked+.switch-slider:before {
  transform: translateX(26px);
}

.text-input,
select {
  margin-top: .8rem;
  padding: .5rem;
  width: 100%;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.text-input {
  max-width: 20rem;
}

select,
.select-color {
  max-width: 21rem;
}

.select-color {
  display: flex;
  flex-direction: column;
  margin-top: .8rem;
  width: 95%;
}

.hidden {
  display: none;
}

.color-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
}

.color-group p {
  flex: 1;
  margin: 0;
  padding-right: 10px;
  font-size: 1.2rem;
  text-align: left;
}

.color-group .color-div {
  flex-shrink: 0;
  width: 60px;
  height: 34px;
  border: solid 1px black;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  margin-top: 1rem;
  padding: .5rem;
  width: 100%;
  max-width: 11rem;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: cursive;
  color: #000;
  border: 2px solid darkgoldenrod;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .5s;
}

#reload {
  display: none;
  background-color: lightgoldenrodyellow;
}

#reload:hover {
  border-width: 4px;
  background-color: gold;
}

#save-btn {
  background-color: royalblue;
}

#save-btn:hover {
  background-color: steelblue;
}